.footer{
    height: 6rem;
}
.footer p{
    margin: 0;
}
.header{
    height: 6rem;
    padding-top: 2rem;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: 0%;
    margin-right: 0%;
}
.container-input{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    
}
.row-details{
    padding: 2rem 2rem 2rem 2rem;
    margin-left: 2%;
    margin-right: 2%;
}
.container details{
    background-color:silver; 
}
img{
    max-width: 80%;
    border-radius: 650px;
}